.header ul{
    list-style-type: none;
    display: flex;
    padding-top: 50px;
    margin-left: 170px;
}
.header ul li{
    color: white;
 border: 2px solid #ff4a57;
 border-radius: 50%;
margin-left: 20px;

}

.header ul li:hover{
    background-color:#ff4a57;
}