.background {
  /* background-color: #0a192f; */
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}
@media screen and (max-width: 800px) {
  .background {
    /* background-color: #0a192f; */
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 800px) {
  .navLink {
    padding-top: 10px;
    font-weight: 800;
  }
  .center {
    padding-top: 50px;
  }
}
.contactSection {
  padding-top: 20px;
  padding-left: 50px;
}
@media screen and (max-width: 800px) {
  .contactSection {
    padding-top: 0px;
    padding-left: 0px;
  }
}
