.background{
    background-color: #0a192f;
    width: 100%;
    height: 100vh;
}
@media screen and (max-width: 800px) {
    .background{
        background-color: #0a192f;
        width: 100%;
        height: 100%;
        overflow-y: hidden
    }
  }

  @media screen and (max-width: 800px) {
    .navLink{
      padding-top: 10px;
      font-weight: 800;
    }
  }