.light-theme {
  /* background-color: #fff; */
  /* color: #444444; */
}
.dark-theme {
  background-color: #0a192f;
  color: #f8f8f8;
  width: 100%;
  /* height: 100%; */
}
@media screen and (max-width: 800px) {
  .dark-theme {
    background-color: #0a192f;
    color: #f8f8f8;
    width: 100%;
    height: 100%;
  }
}
